<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>22-MIMEAPP</display-name>
  <servlet>
    <servlet-name>Plain</servlet-name>
    <servlet-class>com.nt.servlet.PlainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Plain</servlet-name>
    <url-pattern>/plainurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Html</servlet-name>
    <servlet-class>com.nt.servlet.HtmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Html</servlet-name>
    <url-pattern>/htmlurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Excel</servlet-name>
    <servlet-class>com.nt.servlet.ExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Excel</servlet-name>
    <url-pattern>/excelurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Word</servlet-name>
    <servlet-class>com.nt.servlet.WordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Word</servlet-name>
    <url-pattern>/wordurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Xml</servlet-name>
    <servlet-class>com.nt.servlet.XmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Xml</servlet-name>
    <url-pattern>/xmlurl</url-pattern>
  </servlet-mapping>
</web-app>