<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>All_From_Components</display-name>
  <welcome-file-list>
    <welcome-file>input.html</welcome-file>
  </welcome-file-list>
  
   <servlet>
      <servlet-name>apple</servlet-name> 
      <servlet-class>com.nit.servlet.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>apple</servlet-name>
      <url-pattern>/sun</url-pattern>   
  </servlet-mapping>
 
</web-app>